{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-12 small-12">
<header><h1>About Us</h1></header>
<div class="content">
<p>The Seattle Attic Community Workshop is a space for all women, cis and trans*, where we make our world into a place that fits us better. Our art brings us joy; our hacking improves our tools; our crafts make our physical world beautiful and functional. Some of us work in the space between art, craft, and technology. Others hone and share skills they have practiced for decades, from knitting and spinning yarn to hacking hardware and software to building and repairing machines. Through all of this, we connect with and encourage each other. By sharing space, equipment, knowledge, and skills, we do more together than we can apart.</p>

<p>We are artisans and programmers, technical writers and creators of transformative works, craftswomen and hackers, parents and children. We break machines and ideas so we can dissect them, improve them, and rebuild them. We know we can develop the skills to change our surroundings. We come together to become a community that can do just that! We respect each other and the skills, interests, identities, and experiences we bring. We help each other work safely. We value traditionally feminine and traditionally masculine skills as practiced by anyone. We encourage women's leadership skills. We do our best to maintain an explicitly intersectional feminist space that welcomes members and guests of all genders, racial and cultural backgrounds, and levels of ability.</p> 
</div>
</div>
</section>
{% endblock %}
