{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}{{ title }}{% endblock %} | Seattle Attic</title>

  <meta name="google-site-verification" content="B3Sxu7Nh7EKEHLtfzA8PwzpcBv98h5ucLgdbj9Y6bxI" />

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link href='//fonts.googleapis.com/css?family=Cherry+Swash:700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
  <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
  <link rel="stylesheet" href="{% static "css/site/base.css" %}" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  {% block extrahead %}
  {% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42119165-1', 'seattleattic.com');
  ga('send', 'pageview');
</script>
</head>
<body>

  <!-- Header and Nav -->
{% block body %}
{% block topbar %}
   {% include "topnav.html" %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
  <!-- End Header and Nav -->

  <!-- Main Grid Section -->

{% block basecontent %}
{% block content %}

{% endblock %}
{% endblock %}

  <!-- End Grid Section -->



  <!-- Footer -->
{% block footer %}
<footer class="row">
<div class="columns"><hr /></div>
    <div class="medium-6 columns fineprint">
        <p>This is a fiscally sponsored project of the School Factory, Inc. a 501(c)3 non-profit corporation.  For more information: <br /><a href="mailto:info@seattleattic.com">info@seattleattic.com</a></p>
    </div>
    <div class="medium-6 columns">
    <div class="row">
      <div class="columns">
        <ul class="inline-list right">
            <li><a href="{% url "sitemap" %}">Sitemap</a></li>
            <li><a href="{% url "tos" %}">TOS</a></li>
            <li><a href="{% url "policies" %}">Policies</a></li>
            <li><a href="{% url "codeofconduct" %}">Code of Conduct</a></li>
        </ul>
      </div>
      <div class="columns">
        <p class="right">&copy; Seattle Attic 2013</p>
      </div>
    </div>
  </footer>
{% endblock %}
{% endblock %}

{% block scripts %}
  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/vendor/fastclick.js" %}"></script>
  <script src="{% static "js/foundation.min.js" %}"></script>
<!--  <script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
  <script src="{% static "js/foundation/foundation.forms.js" %}"></script>
  <script src="{% static "js/foundation/foundation.placeholder.js" %}"></script>
  <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
  <script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
  <script src="{% static "js/foundation/foundation.section.js" %}"></script>
  <script src="{% static "js/foundation/foundation.tooltips.js" %}"></script> !-->
  <script>
    $(document).foundation();
  </script>
{% endblock %}
</body>
</html>
