{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}{{ title }}{% endblock %} | Seattle Attic</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
  <link rel="stylesheet" href="{% static "css/foundation.css" %}" />

  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="{% static "css/app.css" %}" />

  <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

  {% block extrahead %}
  {% endblock %}

</head>
<body>

  <!-- Header and Nav -->
{% block body %}
{% block topbar %}
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="{% url "home" %}">
            Seattle Attic
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="{% url "home" %}">Home</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">About</a>
          <ul class="dropdown">
            <li><a href="{% url "about" %}">About Us</a></li>
            <li><a href="{% url "policies" %}">Policies</a></li>
            <li><a href="{% url "codeofconduct" %}">Code of Conduct</a></li>
            <li><a href="{% url "faqsection-detail" slug="main" %}">FAQ</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">Upcoming Events</a></li>
      </ul>
    </section>

  </nav>
{% endblock %}

  <!-- End Header and Nav -->

  <!-- Main Grid Section -->

{% block content %}

{% endblock %}

  <!-- End Grid Section -->



  <!-- Footer -->
{% block footer %}
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Seattle Attic 2013</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">TOS</a></li>
            <li><a href="{% url "policies" %}">Policies</a></li>
            <li><a href="{% url "codeofconduct" %}">Code of Conduct</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
{% endblock %}

{% block scripts %}
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{% static "js/vendor/zepto" %}' : '{% static "js/vendor/jquery" %}') +
  '.js><\/script>')
  </script>
  <script src="{% static "js/foundation/foundation.js" %}"></script>
  <script src="{% static "js/foundation/foundation.alerts.js" %}"></script>
  <script src="{% static "js/foundation/foundation.clearing.js" %}"></script>
  <script src="{% static "js/foundation/foundation.cookie.js" %}"></script>
  <script src="{% static "js/foundation/foundation.dropdown.js" %}"></script>
  <script src="{% static "js/foundation/foundation.forms.js" %}"></script>
  <script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
  <script src="{% static "js/foundation/foundation.magellan.js" %}"></script>
  <script src="{% static "js/foundation/foundation.orbit.js" %}"></script>
  <script src="{% static "js/foundation/foundation.placeholder.js" %}"></script>
  <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
  <script src="{% static "js/foundation/foundation.section.js" %}"></script>
  <script src="{% static "js/foundation/foundation.tooltips.js" %}"></script>
  <script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
  <script src="{% static "js/foundation/foundation.interchange.js" %}"></script>
  <script>
    $(document).foundation();
  </script>
{% endblock %}
</body>
</html>
