{% extends "base.html" %}

{% block title %}Donations: Thank You!{% endblock %}

{% block extrahead %}
<style>
.paypal-button { float: left; margin-right: 1em; margin-bottom: 1em; }
</style>
{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-12 small-12">
<header><h1>Donations: Thank You!</h1></header>
<div class="content">
<form class="paypal-button" action="https://www.paypal.com/cgi-bin/webscr" method="post"
target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="24FWAFH9NZ7PU">
<input type="image"
src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
border="0" name="submit" alt="PayPal - The safer, easier way to pay
online!">
<img alt="" border="0"
src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
height="1">
</form>
<p>Thank you for supporting the Seattle Attic Community Workshop. We are
a fiscally sponsored project of the School Factory, Inc. a 501(c)3
non-profit corporation. They will provide you with a receipt for your
donation.</p>

<p>Many companies will match donations to 501c3 charities. Microsoft
employees, for example, can go to <a href="http://give">MS Give</a> (an intranet link)
and search for School Factory to have donations matched.
Please indicate in the comments on your donation that it is intended for the 
Seattle Attic Community Workshop so that School Factory can route it appropriately.</p>

<p>If you haven't already, please consider subscribing to our low-volume
annoucements mailing list via
<a href="https://groups.google.com/forum/?fromgroups#!forum/seattle-attic-announce">web</a>
or by emailing seattle-attic-announce+subscribe AT googlegroups DOT com.</p>
</div>
</div>
</section>
{% endblock %}
