{% extends "base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-12 small-12">
<header><h1>Friends</h1></header>
<div class="content">
<h2>Feminist hackerspaces and makerspaces</h2>

<ul>
<li><a href="http://www.doubleunion.com/">Double Union</a> - San Francisco, California, USA</li>
<li><a href="http://soycow.org/hackerspace/">Flux</a> - Portland, Oregon, USA</li>
<li><a href="http://foufem.orangeseeds.org/">foufem</a> - Montreal, Ontario, Canada</li>
<li><a href="http://www.miss-hack.org/">Miss Despionas</a> - Tasmania, Australia</li>
<li><a href="http://www.mzbaltazarslaboratory.org/">Mz Baltazar's Laboratory</a>, Vienna, Austria</li>
</ul>
</div>
</div>
</section>
{% endblock %}
