{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-8 small-12">
<header><h1>Welcome!</h1></header>
<div class="content">
<p>We're building something new and cool in downtown Seattle - a feminist, woman-centered, and trans- and queer-inclusive space where tinkerers, makers, crafters, and hackers of all genders encourage each other to work, teach, learn, and collaborate.</p> 

<p>Does this sound relevant to your interests?  Sign up for our low-volume announcements list (via <a href="https://groups.google.com/forum/?fromgroups#!forum/seattle-attic-announce">web</a> or by emailing seattle-attic-announce+subscribe AT googlegroups DOT com) to hear when the space formally launches.</p> 
</div>
</div>
<div class="columns twitter large-4 small-12">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Seattle_Attic" data-widget-id="342498738415230976">Tweets by @Seattle_Attic</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</section>
{% endblock %}
