{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extrahead %}
<style>
.content .flair { margin-bottom: 1em; text-align: center; }
</style>
{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-5 medium-6 small-12">
<h2>Welcome!</h2>
<p>This summer, a group of idealistic intersectional feminists started a 
<a href="http://en.wikipedia.org/wiki/Hackerspace" data-tooltip class="has-tip" 
title="Via Wikipedia: A hackerspace (also referred to as a hacklab, makerspace, or hackspace) is a community-operated workspace where people with common interests, often in computers, technology, science, digital art or electronic art, can meet, socialize and/or collaborate.">hackerspace</a>
in downtown Seattle. We are a feminist, woman-centered, trans- and queer- inclusive space for tinkerers, 
makers, crafters and hackers of all genders. Our goal is to offer a safe, non-intimidating environment, 
tools, and a supportive, friendly community to help feminist makers and hackers learn and build.</p>
 
<p>Not long after we launched, other organizers started work on feminist hackerspaces in 
<a href="http://www.doubleunion.org/">San Francisco</a> and
<a href="http://fluxlab.io/">Portland</a>! We hope that this is the beginning of similar
spaces starting up in cities and towns across the world.</p>

<p>You can help make this happen: Come join us!</p>

<p>We are located at 600 First Ave, Unit 605. After hours, you can enter the building on the 
James Street side; look for the "Office Space" sign, and dial "Attic" on the intercom.</p>
 
<p>We hold a weekly open house on Tuesday evenings from 6:30-9PM. You can reach us for more 
information at <a href="mailto:info@seattleattic.com">info@seattleattic.com</a>. You can also 
<a href="{% url "maillist_subscribe" list_id="9d8da4359d" %}">sign 
up for our low-volume announcementslist to get updates about our events</a>.</p>

<p>If you want to start a similar space in your city, do contact us so that we can share our 
knowledge and experience with you.</p>

</div><!-- end columns -->
<div class="columns large-5 medium-6 small-12">

<div class="panel">
<p><img src="{{ STATIC_URL }}img/logo/SACW_logo.png" height="100" alt="The Seattle Attic Logo: A banner with our name below a stylized roof with a window."></p>
<p>Did you miss our <a href="http://igg.me/at/launch-seattle-attic/x/5306605">IndieGogo Campaign</a>?
You can still contribute to the Seattle Attic's continuing success on our
<a href="{% url "donations" %}">donate page</a>.</p>
<p>Your gift will help fund our operations cost as well as some of our stretch goals:</p>

<ul>
<li>Memberships for starving hackers</li>
<li>A textile fabrication workshop: drum carder, serger, sewing/embroidery machine, blocking frame
and blocking wires, notions and teaching materials!</li>
<li>A 3-D printer</li>
</ul>

<p>You may also donate in kind. Check out 
<a href="http://www.amazon.com/gp/registry/wishlist/1SN6WVAPQT1IG/ref=cm_sw_su_w">this list of books/items/stuff that we 
would like to stock our space with</a>.</p>
</div><!-- end panel -->
</div><!-- end columns -->

<div class="columns twitter large-2 medium-12 small-12">
{% if twitter %}
<h5>What's Up?</h5>
{{ twitter.embed_code|safe }}
{% endif %}
</div>
</section>
{% endblock %}
