{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extrahead %}
<style>
.content .flair { margin-bottom: 1em; text-align: center; }
</style>
{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-8 small-12">
<header><h1>Welcome!</h1></header>
<div class="content">
<div class="flair"><img src="{{ STATIC_URL }}img/pioneer_building_front.png" height="300" width="500" alt="A picture of the stone front face of the historic Pioneer Building our space is located at, with trees framing the sides of the shot."></div>
<p>We're building something new and cool in downtown Seattle - a feminist, woman-centered, and trans- and queer-inclusive space where tinkerers, makers, crafters, and hackers of all genders encourage each other to work, teach, learn, and collaborate.</p> 

<p>Does this sound relevant to your interests?  Sign up for our low-volume announcements list (via <a href="https://groups.google.com/forum/?fromgroups#!forum/seattle-attic-announce">web</a> or by emailing seattle-attic-announce+subscribe AT googlegroups DOT com) to get updates about our events.</p> 

<hr />

<p>We are located at 600 First Ave, unit 605. After hours, you can enter the building on the James Street side; look for the "Office Space" sign, and dial "Attic" on the intercom.</p>

<p>We hold a weekly open house on Tuesday evenings from 6:30-9PM.</p>

</div>
</div>
<div class="columns twitter large-4 small-12">
{% include "embeds/twitter.html" %}
</div>
</section>
{% endblock %}
