{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extrahead %}
<style>
.content .flair { margin-bottom: 1em; text-align: center; }
</style>
{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-8 small-12">
<header><h1>Welcome!</h1></header>
<div class="content">
<div class="panel">
<center><h3>The Attic is running a fundraising campaign through Indiegogo!</h3>

<a href="http://igg.me/at/launch-seattle-attic/x/5306605"><img src="http://images.indiegogo.com/medias/1115370/primary_pictures/full/20131119050624-spaceheader.png?1384866648" width="600" alt="banner with various photos from the space with clickthrough link to indiegogo campaign"></a>
<p>Donate to <a href="http://www.indiegogo.com/projects/launch-seattle-attic-current-stretch-goal-10k-gets-us-to-a-woodshop">our Indiegogo campaign</a>!</p></center> 

<p>This summer, a group of idealistic intersectional feminists started a hackerspace in downtown Seattle. Not long after, other organizers started work on feminist hackerspaces in <a href="http://www.doubleunion.org">San Francisco</a> and <a href="http://www.fluxlab.io">Portland</a>.</p>

<p>We hope that we can be the template for similar spaces to start up in cities and towns across the world, providing feminist makers and hackers with supportive, collaborative spaces in which to learn and build.</p>
 
<p>We have been running for about six months now. The Seattle Attic is now at a delicate time in its life while we work to become self-sustaining. If you can help us out, it could make a big difference to our long term survival and the quality of tools we can provide.</p>
 
<p>We hit our base goal in under 24 h, which will allow us to improve our physical space. Now we need your help to equip it so that we can attract new members and give our members the resources they need to work. Please consider <a href="http://www.indiegogo.com/projects/launch-seattle-attic-current-stretch-goal-10k-gets-us-to-a-woodshop">donating whatever you can</a> to help us reach our target.</p>

<p>With gratitude and feminist solidarity,<br />
The Seattle Attic</p>
</div>

<p>We're building something new and cool in downtown Seattle - a feminist, woman-centered, and trans- and queer-inclusive space where tinkerers, makers, crafters, and hackers of all genders encourage each other to work, teach, learn, and collaborate.</p> 

<p>Does this sound relevant to your interests?  Sign up for our low-volume announcements list (via <a href="https://groups.google.com/forum/?fromgroups#!forum/seattle-attic-announce">web</a> or by emailing seattle-attic-announce+subscribe AT googlegroups DOT com) to get updates about our events.</p> 

<hr />

<p>We are <a href="{% url "visit" %}">located at 600 First Ave, Unit 605</a>. After hours, you can enter the building on the James Street side; look for the "Office Space" sign, and dial "Attic" on the intercom.</p>

<p>We hold a weekly open house on Tuesday evenings from 6:30-9PM. You can reach us for more information at <a href="mailto:info@seattleattic.com">info@seattleattic.com</a>.</p>

</div>
</div>
<div class="columns twitter large-4 small-12">
{% if twitter %}
<h2>What's Up?</h2>
{{ twitter.embed_code|safe }}
{% endif %}
</div>
</section>
{% endblock %}
