{% extends "base.html" %}

{% block content %}
<section class="row">
<div class="columns large-12 small-12">
<header><h1>Policies</h1></header>
<div class="content">
<h2>Rule #1: don't be a jerk. Rule #2: use your words.</h2>

<h2>1. How to become a member</h2>

<p>Membership is not yet open to the public. Membership will be by nomination, application, and approval. In order for an application to be approved, there needs to be both a quorum of +1s and no more than one -1. That is, an applicant must both have the approval of enough of the membership and no more than one disapproval.</p>

<h2>2. Guests</h2>

<p>Members are welcome to bring guests to the Attic at any time. Guests are expected to abide by all Seattle Attic policies, particularly the Code of Conduct and any relevant safe working procedures. Any member may ask a guest to leave at any time. The Attic has a $7/day drop-in rate (sliding scale) for daytime co-working space.</p>

<p>Open Evenings are an opportunity for prospective members to find out more about the Attic, meet our current members, and check out the space. If we seem to be a good fit for each other, we can talk about membership.</p>

<h2>3. Kids</h2>

<p>Our formal policy for members and guests under 18 is pending finding legal answers. We intend to eventually have a policy of parental supervision for ages 14 and under and parental waiver for ages 15 and up on a case by case basis. For now, parental disclaimer and/or parental supervision is required for all underage guests and members of the Attic.</p>

<h2>4. Donations</h2>

    <p>Seattle Attic does not accept donations of CRTs or any other items we will have to pay a hazmat fee to dispose of.</p>

    <p>Do not just leave anything bigger than a breadbox at the space as a donation--these items must be accepted by a member.</p>

    <p>Broken items are accepted on a case by case basis and are the responsibility of the individual member who accepts the broken item. Said item will be stored in their storage space.</p>

<h2>5. Photography</h2>

    <p>Ask permission before taking pictures of anyone, directly or in the background.</p>

    <p>Ask permission to put a picture of someone on the internet or in any publication, with or without names. Permission for publication is not included in permission for taking the photo.</p>

<h2>6. Allergies and food safety</h2>

    <p>Members will be asked to disclose severe food/other relevant substance allergies so that extra care can be taken to make the space safer for them.</p>

    <p>Bring ingredient lists for food items you intend to share.</p>

    <p>Refrain from wearing strong scents (e.g. Axe body spray, heavy perfume) while at the Attic out of courtesy for other members--each room is a small space.</p>

<h2>7. Noise</h2>

    <p>Between 9 a.m. and 5 p.m., noise should be kept to normal office volumes in order to not disturb our neighbors.</p>

    <p>Otherwise, negotiate noise levels with others present. If part of the group wants quiet work time, the door between the two halves of the space can be shut.</p>

<h2>8. Attic Library</h2>

    <p>We have two kinds of books: for reference and for circulation.</p>

    <p>Do not mark your book for circulation if you want to guarantee that it will never walk off permanently.</p>
</div>
</div>
</section>
{% endblock %}
