{% extends "base.html" %}

{% block title %}Sitemap{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-12 small-12">
<header><h1>Sitemap</h1></header>
<div class="content">
<ul>
<li><a href="{% url "home" %}">Home</a></li>
<li><a href="{% url "about" %}">About Us</a></li>
<li><a href="{% url "policies" %}">Policies</a></li>
<li><a href="{% url "codeofconduct" %}">Code of Conduct</a></li>
<li><a href="{% url "faqsection-detail" "main" %}">Main FAQ</a></li>
</ul>
</div>
</div>
</section>
{% endblock %}
