  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="{% url "home" %}">
            Seattle Attic
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><a href="{% url "home" %}">Home</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">About</a>
          <ul class="dropdown">
            <li><a href="{% url "about" %}">About Us</a></li>
            <li><a href="{% url "policies" %}">Policies</a></li>
            <li><a href="{% url "codeofconduct" %}">Code of Conduct</a></li>
            <li><a href="{% url "faqsection-detail" slug="main" %}">FAQ</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="{% url "visit" %}">Visit</a></li>
        <li class="divider"></li>
        <li><a href="{% url "donations" %}">Donate</a></li>
      </ul>
    </section>

  </nav>
