{% extends "base.html" %}

{% block title %}Wishlist{% endblock %}

{% block content %}
<section class="row">
<div class="columns large-12 small-12">
<header><h1>Wishlist</h1></header>
<div class="content">
<p>Here's a bunch of stuff we need. If you are interested in donating any of the below, please email info at seattleattic dot com. Thanks!</p>

<ul>
<li>Couch</li>
<li>Bar fridge</li>
<li>Microwave</li>
<li>Work tables</li>
<li>Chairs - we have enough office chairs, now looking for comfy loungey chairs</li>
<li>Power strips</li>
<li>Computers</li>
<li>Shelving</li>
<li>Yarn swift / ball winder</li>
<li>Drum carder</li>
<li>Button maker</li>
<li>Plates,bowls, and glasses</li>
<li>Cutlery and dishes</li>
<li>3D Printer (hey, we can dream, right?)</li>
</ul>

</div>
</div>
</section>
{% endblock %}
