{% extends "base.html" %}

{% block title %}Member directory{% endblock %}

{% block content %}
<div class="profiles">
<div class="row">
<div class="columns">
<h1>Member Directory</h1>
</div>
</div>
{% for user_profile in user_profile_list %}
<article class="row">
<div class="columns large-4 small-12">
<h3><a href="{% url "user_profile" username=user_profile.user.username %}">{{ user_profile }}</a></h3>
{% if user_profile.legal_name %}<p>({{ user_profile.legal_name }})</p>{% endif %}
<p>Status: {{ user_profile.status }}</p>
<p>Member since: {{ user_profile.became_member_on }}</p>
</div>
<div class="columns large-8 small-12">
<ul>
<li>Preferred contact method: {{ user_profile.preferred_contact_method }}</li>
</ul>
</div>
</article>
{% endfor %}
</div>
{% endblock %}
