{% extends "profiles/base.html" %}
{% load markdown_deux_tags %}
{% load access_icons %}

{% block title %}Email contact {{ user_email.label }} for {{ user_email.profile }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% with user_profile.user.username as username %}
<li class="retain-capitalization"><a href="{% url "user_profile" username=username %}">{% if user_profile.display_name %}{{ user_profile.display_name }} ({{ username }}){% else %}{{ username }}{% endif %}</a></li>
<li class="current">Email</li>
</ul>
{% endwith %}
{% endblock %}

{% block content %}
<div class="memberstatus row">
<div class="columns">

<div class="row">
<div class="columns medium-10">
<h1>Email contact {{ user_email.label }} for {{ user_email.profile }} {{ user_email.access|access_icon }}</h1>
</div>
<div class="columns medium-2">
{% if can_edit %}
<a href="{% url "user_profile_email_update" username=username pk=user_email.pk %}" class="button">Edit</a>
{% endif %}
</div>
</div>

<div class="row">
<div class="columns large-6">
{% include "foundation/infofield/basic.html" with item_title="Label" item=user_email.label %}
{% include "foundation/infofield/basic.html" with item_title="Access" item=user_email.access %}
{% include "foundation/infofield/link.html" with item_title="Email" item=user_email.email item_link="mailto:"|add:user_email.email %}
</div>
<div class="columns large-6">
{% if user_email.notes %}
<div class="notes panel">
<h3>Notes</h3>
{{ user_email.notes|markdown }}
</div>
{% endif %}
</div>
</div>

</div>
</div>
{% endblock %}
