{% extends "profiles/base.html" %}
{% load markdown_deux_tags %}
{% load access_icons %}

{% block title %}Profile for: {{ user_profile.user.display_name }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% with user_profile.user.username as username %}
<li class="current retain-capitalization">{% if user_profile.display_name %}{{ user_profile.display_name }} ({{ username }}){% else %}{{ username }}{% endif %}</li>
</ul>
{% endwith %}
{% endblock %}

{% block content %}
{% with user_profile.user.username as username %}
<div class="profile">
<div class="row">
<div class="columns medium-10">
<h1 class="left">Profile for {% if user_profile.display_name %}{{ user_profile.display_name }}{% else %}{{ username }}{% endif %} {{ user_profile.profile_access|access_icon }}</h1>
</div>
<div class="columns medium-2">
{% if can_edit %}
<a href="{% url "user_profile_edit" username=username %}" class="button right">Edit</a>
{% endif %}
</div>
</div>

{% if user_profile.is_member %}
<div class="panel member">
<section class="row">
<div class="columns">
{% if user_profile.became_member_on %}
<span>Member since: {{ user_profile.became_member_on }}</span>
{% else %}
<span>Member</span>
{% endif %}
</div>
</section>
</div>
{% endif %}

<section class="row">
<div class="columns">
{% if user_profile.display_name %}
{% include "foundation/infofield/basic.html" with item_title="Username" item=username %}
{% endif %}
{% if user_profile.legal_name %}
{% include "foundation/infofield/basic.html" with item_title="Legal name" item=user_profile.legal_name %}
{% endif %}
{% include "foundation/infofield/basic.html" with item_title="Preferred contact method" item=user_profile.preferred_contact_method %}

{% with user_profile.get_preferred_phone as phone %}
{% if phone %}

{% endif %}
{% endwith %}
</div>
</section>

{% if user_profile.about or user_profile.public_about %}
<section class="row">
<div class="columns">
<h3>About Me</h3>
{{ user_profile.public_about|markdown }}

{% if user_profile.public_about and user_profile.about %}<hr />{% endif %}

{{ user_profile.about|markdown }}
</div>
</section>
{% endif %}

{% if user_profile.dietary_considerations %}
<section class="row">
<div class="columns">
<h3>Dietary Considerations</h3>
{{ user_profile.dietary_considerations|markdown }}
</div>
</section>
{% endif %}

{% if user_profile.emergency_contact %}
<section class="row">
<div class="columns">
<h3>Emergency Contact</h3>
{{ user_profile.emergency_contact|markdown }}
</div>
</section>
{% endif %}

<div class="row">
<div class="columns">
<p><a href="{% url "memberdirectory" %}">Back to member directory</a></p>
</div>
</div>

</div>
{% endwith %}
{% endblock %}
