{% extends "FAQ/base.html" %}

{% block title %}{{ faqsection }}{% endblock %}

{% block content %}
<div class="row">
<div class="column large-12 small-12">
<article class="faqsection detail">
<h1>{{ faqsection }}</h1>
<div class="content">
{{ faqsection.description|safe }}
</div>
</article>

{% for faq in faqsection.faqitem_set.all %}
<article id="faq-{{ faq.pk }}" class="faqitem list">
<header>
<h4><a href="{% url "faqitem-detail" section_slug=faq.section.slug faq_slug=faq.slug %}">{{ faq.question }}</a></h4>
</header>
<div class="content">
<div class="summary">
{{ faq.summary_answer|safe }}
</div>
{% if faq.long_answer %}
<div class="more">
<a href="{% url "faqitem-detail" section_slug=faq.section.slug faq_slug=faq.slug %}">Read more</a>
</div>
{% endif %}
</div>
</article>
{% endfor %}
</div>
</div>
{% endblock %}
