{% extends "base.html" %}

{% block title %}{{ faqsection }}{% endblock %}

{% block content %}
<div class="row">
<div class="column large-12 small-12">
<article class="faqsection detail">
<h1>{{ faqsection }}</h1>
<div class="content">
{{ faqsection.description|safe }}
</div>
</article>

{% for faq in faqsection.faqitem_set.all %}
<article id="faq-{{ faq.pk }}" class="faqitem list">
<header>
<h4>{{ faq.question }}</h4>
</header>
<div class="content">
{{ faq.answer|safe }}
</div>
</article>
{% endfor %}
</div>
</div>
{% endblock %}
