{% load markdown_deux_tags %}

{% with address_contact.is_preferred as preferred %}
<div class="address contact-card {% if preferred %} preferred{% endif %}">

<div class="row">
<div class="columns large-10">
{% if preferred %}
{% include "foundation/infofield/multiline.html" with title_link=address_contact.get_absolute_url item_title="Address (preferred)" item=address_contact.address  %}
{% else %}
{% include "foundation/infofield/multiline.html" with title_link=address_contact.get_absolute_url item_title="Address" item=address_contact.address %}
{% endif %}
{% if address_contact.notes %}
<blockquote>{{ address_contact.notes|markdown }}</blockquote>
{% endif %}
</div>

<div class="columns large-2">
{% if can_edit %}
<a href="{% url "user_profile_address_update" username=username pk=address_contact.pk %}" class="button tiny right">Edit</a>
{% endif %}
</div>

</div>
{% endwith %}
