{% load markdown_deux_tags %}
{% with email_contact.is_preferred as preferred %}
<div class="email contact-card {% if preferred %} preferred{% endif %}">

<div class="row">
<div class="columns large-10">
<p><a href="{{ email_contact.get_absolute_url }}">{{ email_contact.label|default:"Email" }}</a>{% if preferred %} (preferred){% endif %}: <a href="mailto:{{ email_contact.email }}">{{ email_contact.email}}</a></p>
</div>
<div class="columns large-2">
{% if can_edit %}
<a href="{% url "user_profile_email_update" username=username pk=email_contact.pk %}" class="button tiny right">Edit</a>
{% endif %}
</div>
</div>

{% if email_contact.notes %}
<blockquote>{{ email_contact.notes|markdown }}</blockquote>
{% endif %}
</div>
{% endwith %}
