{% load markdown_deux_tags %}
{% with phone_contact.is_preferred as preferred %}
<div class="phone contact-card {% if preferred %} preferred{% endif %}">

<div class="row">
<div class="columns large-10">
<p><a href="{{ phone_contact.get_absolute_url }}">{{ phone_contact.label|default:"Phone" }}</a>{% if preferred %} (preferred){% endif %}: <a href="tel:{{ phone_contact.phone }}">{{ phone_contact.phone }}</a></p>
</div>
<div class="columns large-2">
{% if can_edit %}
<a href="{% url "user_profile_phone_update" username=username pk=phone_contact.pk %}" class="button tiny right">Edit</a>
{% endif %}
</div>
</div>

{% if phone_contact.notes %}
<blockquote>{{ phone_contact.notes|markdown }}</blockquote>
{% endif %}
</dl>
{% endwith %}
