@import "variables";

a { color: $link-color; font-weight: bold; text-decoration: underline; }
a:visited { color: $link-visited-color; }
a:hover, a:active { color: $link-hover-color; }

.top-bar a { text-decoration: none; }

.fineprint { font-size: smaller; }
