@import "../foundation/variables";
@import "variables";

body {
    font-family: 'Open Sans', "Arial", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cherry Swash', "Arial", sans-serif;
    font-weight: bold;
}

a { color: $link-color; font-weight: bold; text-decoration: underline; }
a:visited { color: $link-visited-color; }
a:hover, a:active { color: $link-hover-color; }

a.button, a.button:visited { color: white !important; }

.top-bar a { text-decoration: none; }

.fineprint { font-size: smaller; }

ul.breadcrumbs { margin-bottom: 0px; }

/* Fix IE resizing */
img { -ms-interpolation-mode: bicubic; }

form {
  .hint { text-align: right; display: block; margin-bottom: .5rem; }
  .required { font-size: smaller; margin-bottom: .5rem; font-style: italic; }
}
