@import "../foundation/variables";
@import "variables";

.contact-info h2.preferred:after {
    content: "*";
}

.panel.preferred {
    border: 2px solid $primary-color;
}

.title.panel {
    .button, button { margin-bottom: 0em; }
}

